<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Bangkok</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057284/Bangkok-sm-1_sgl6mw.jpg"
      alt="Bikes rushing past in Bangkok"
    />
    <p class="text-muted mt-2">Bikes rushing past in Bangkok</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057273/Bangkok-sm-3_ytlhps.jpg"
      alt="Sitting in the back of a Tuktuk in Bangkok"
    />
    <p class="text-muted mt-2">Sitting in the back of a Tuktuk</p>
  </div>

  <div class="img-container-double mb-5">
    <div class="row align-items-center g-3">
      <div class="img-half col">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057307/Bangkok-sm-4_o1ohqf.jpg"
          alt="Monk in Wat Arun Ratchawararam"
        />
        <p class="text-muted mt-2">Monk in Wat Arun Ratchawararam</p>
      </div>
      <div class="img-half col">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057321/Bangkok-sm-2_wnr8gi.jpg"
          alt="A blue door somewhere"
        />
        <p class="text-muted mt-2">A door somewhere</p>
      </div>
    </div>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057290/Bangkok-sm_lqatmr.jpg"
      alt="Kids on the roof of ICONSIAM"
    />
    <p class="text-muted mt-2">Kids on the roof of ICONSIAM</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057299/Bangkok-sm-5_fkgwkp.jpg"
      alt="Sunset on a street"
    />
    <p class="text-muted mt-2">Sunset on a street</p>
  </div>

  <!-- <div class="img-container-triple">
    <div class="row g-2">
      <div class="col-6 left-img">
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Bangkok3.jpeg"
          alt=""
        />
      </div>
      <div class="col-6 right-imgs">
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Bangkok4.jpeg"
          alt=""
        />
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Manilla1.jpg"
          alt=""
        />
      </div>
    </div>
  </div> -->
</div>
