<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Japan</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057311/Yamanakako-sm-2_lpozsh.jpg"
      alt="A little street in Tokyo"
    />
    <p class="text-muted mt-2">A little street in Tokyo</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057289/Yamanakako-sm-1_mgg13d.jpg"
      alt="Cycling around Lake Kawaguchiko"
    />
    <p class="text-muted mt-2">Cycling around Lake Kawaguchiko</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057284/Yamanakako-sm-4_mrawld.jpg"
      alt="View of Mt. Fuji from Yamanakako"
    />
    <p class="text-muted mt-2">View of Mt. Fuji from Yamanakako</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057280/Yamanakako-sm-3_noi19y.jpg"
      alt="Cycling around Lake Yamanakako"
    />
    <p class="text-muted mt-2">Cycling around Lake Yamanakako</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057277/Yamanakako-sm_gxmtnk.jpg"
      alt="View of Mt. Fuji"
    />
    <p class="text-muted mt-2">View of Mt. Fuji</p>
  </div>
</div>
