<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Japan :heart:</h1>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/asia/japan/Japan1.jpg" alt="" />
    <p class="text-muted mt-2">Japan</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/asia/japan/Japan2.jpg" alt="" />
    <p class="text-muted mt-2">Japan</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/asia/japan/Japan3.jpg" alt="" />
    <p class="text-muted mt-2">Japan</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/asia/japan/Japan4.jpg" alt="" />
    <p class="text-muted mt-2">Japan</p>
  </div>

  <!-- <div class="img-container-triple">
    <div class="row g-2">
      <div class="col-6 left-img">
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Bangkok3.jpeg"
          alt=""
        />
      </div>
      <div class="col-6 right-imgs">
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Bangkok4.jpeg"
          alt=""
        />
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Manilla1.jpg"
          alt=""
        />
      </div>
    </div>
  </div> -->
</div>
