<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Lisbon</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057904/Lisbon3_n6idqn.jpg"
      alt="Sunset on a street"
    />
    <p class="text-muted mt-2">Sunset on a street</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057902/Lisbon4_kybxlw.jpg"
      alt="Woods near Sintra"
    />
    <p class="text-muted mt-2">Woods near Sintra</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057903/Lisbon2_khl8x5.jpg"
      alt="Overlooking the city"
    />
    <p class="text-muted mt-2">Overlooking the city</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057905/Lisbon1_jfkf7l.jpg"
      alt="Skaters on the roof"
    />
    <p class="text-muted mt-2">Skaters on the roof</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057910/Lisbon6_fmsjkl.jpg"
      alt="At a crosswalk"
    />
    <p class="text-muted mt-2">At a crosswalk</p>
  </div>
</div>
