<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">SE Asia</h1>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/seAsia/Bangkok2.jpeg" alt="" />
    <p class="text-muted mt-2">Bangkok</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/seAsia/Bangkok1.jpeg" alt="" />
    <p class="text-muted mt-2">Bangkok</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/seAsia/Bangkok5.jpg" alt="" />
    <p class="text-muted mt-2">Bangkok</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/seAsia/Bangkok4.jpeg" alt="" />
    <p class="text-muted mt-2">Bangkok</p>
  </div>

  <div class="img-container-single mb-5">
    <img class="location-img w-100" src="/imgs/seAsia/Jakarta1.jpg" alt="" />
    <p class="text-muted mt-2">Jakarta</p>
  </div>

  <!-- <div class="img-container-triple">
    <div class="row g-2">
      <div class="col-6 left-img">
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Bangkok3.jpeg"
          alt=""
        />
      </div>
      <div class="col-6 right-imgs">
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Bangkok4.jpeg"
          alt=""
        />
        <img
          class="location-img w-100"
          src="/imgs/seAsia/Manilla1.jpg"
          alt=""
        />
      </div>
    </div>
  </div> -->
</div>
