<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">SE Asia</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057291/Jakarta-sm_k3535i.jpg"
      alt="Jakarta - Istiqlal Mosque"
    />
    <p class="text-muted mt-2">Jakarta - Istiqlal Mosque</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057332/Lombok-sm-3_do6jox.jpg"
      alt="Lombok - Sunset at Bukit Merese"
    />
    <p class="text-muted mt-2">Lombok - Sunset at Bukit Merese</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057349/Lombok-sm_bu9hx8.jpg"
      alt="Lombok - a traditional village"
    />
    <p class="text-muted mt-2">Lombok - a traditional village</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057300/Manila-sm_bzh1pm.jpg"
      alt="Manila - an office in Rizal Park"
    />
    <p class="text-muted mt-2">Manila - an office in Rizal Park</p>
  </div>
</div>
