<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Shanghai</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057334/Shanghai-sm-2_wegupp.jpg"
      alt="Shanghai - a street in the French Concession"
    />
    <p class="text-muted mt-2">Shanghai - a street in the French Concession</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057276/Shanghai-sm_fyyhyo.jpg"
      alt="Shanghai - a street in the French Concession"
    />
    <p class="text-muted mt-2">Shanghai - a street in the French Concession</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057318/Huangshan-sm-3_j80mqo.jpg"
      alt="Hongcun Village - a view of a lake"
    />
    <p class="text-muted mt-2">Hongcun Village - a view of a lake</p>
  </div>

  <div class="img-container-double mb-5">
    <div class="row align-items-center g-3">
      <div class="img-half col">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057288/Huangshan-sm-1_jwdiwh.jpg"
          alt="Mukeng Bamboo Forest - a tea farmer tending to her field"
        />
        <p class="text-muted mt-2">
          Mukeng Bamboo Forest - a tea farmer tending to her field
        </p>
      </div>
      <div class="img-half col">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721060463/Huangshan-sm_xe46ae.jpg"
          alt="Hongcun Village - a side street"
        />
        <p class="text-muted mt-2">Hongcun Village - a side street</p>
      </div>
    </div>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057313/Huangshan-sm-2_bpeh3n.jpg"
      alt="Clothes left out to dry"
    />
    <p class="text-muted mt-2">Mukeng Bamboo Forest</p>
  </div>
</div>
