<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Taipei</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057298/Taipei-sm-3_shc6eq.jpg"
      alt="Motorcycles at the light"
    />
    <p class="text-muted mt-2">Motorcycles at the light</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057281/Taipei-sm-1_lu5mw4.jpg"
      alt="Taipei 101 observation deck"
    />
    <p class="text-muted mt-2">Taipei 101 observation deck</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057318/taipei-sm-5_p0argt.jpg"
      alt="Chef at a market"
    />
    <p class="text-muted mt-2">Chef at a market</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057364/Taipei-sm_zjrlf0.jpg"
      alt="Old ladies crossing the street"
    />
    <p class="text-muted mt-2">Old ladies crossing the street</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057376/Taipei-sm-4_gcsfxv.jpg"
      alt="Sitting at the park"
    />
    <p class="text-muted mt-2">Sitting at a park</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058814/Taitung-sm-8_w77kqm.jpg"
      alt="Chishang"
    />
    <p class="text-muted mt-2">Chishang</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057324/Jiufen-sm-1_lvphav.jpg"
      alt="Jiufen - artist making things"
    />
    <p class="text-muted mt-2">Jiufen - artist making things</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057323/Jiufen-sm_ccd0fr.jpg"
      alt="Jiufen - cat"
    />
    <p class="text-muted mt-2">Jiufen - cat</p>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057318/Jiufen-sm-3_ycpnim.jpg"
      alt="Jiufen - view from the Amei Teahouse"
    />
    <p class="text-muted mt-2">
      Jiufen - view from the Amei Teahouse. This teahouse is said to have
      inspired Spirited Away.
    </p>
  </div>
</div>
