<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 pe-md-5">
  <h1 class="display-4 text-center mb-4">Taitung Lantern Festival</h1>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058822/Taitung-sm_ga0ngt.jpg"
      alt="Getting ready for the festival"
    />
    <p class="text-muted mt-2">Getting ready for the festival</p>
  </div>

  <div class="img-container-single mb-3">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058820/Taitung-sm-4_mrxyuo.jpg"
      alt="The procession"
    />
    <p class="text-muted mt-2">The procession</p>
  </div>

  <p class="mb-5 fs-5">
    The Taitung Lantern Festival marks the end of the Lunar New Year period,
    known as the Bombing of Master Han Dan (Han Dan Ye). The festival features a
    procession through the streets of Taitung, with Master Han Dan carried on a
    chair. The procession stops at various points where firecrackers are thrown
    at the volunteers in the procession. For more info, see this
    <a href="https://taiwaneverything.cc/2019/07/05/bombing-master-handan/"
      >article</a
    >.
  </p>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058815/Taitung-sm-1-5_fonfos.jpg"
      alt="Watching the procession"
    />
    <p class="text-muted mt-2">Watching the procession</p>
  </div>

  <div class="img-container-double mb-5">
    <div class="row align-items-center g-3">
      <div class="img-half col">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058817/Taitung-sm-1-3_njwg6t.jpg"
          alt="Fireworks"
        />
      </div>
      <div class="img-half col">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058816/Taitung-sm-1-6_kcklpw.jpg"
          alt="Cleanup"
        />
      </div>
    </div>
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058812/Taitung-sm-5_awb6eq.jpg"
      alt="Bombing"
    />
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058809/Taitung-sm-6_dmuyir.jpg"
      alt="Bombing"
    />
  </div>

  <div class="img-container-single mb-5">
    <img
      class="location-img w-100"
      src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058810/Taitung-sm-1-4_tpujwf.jpg"
      alt="Bombing"
    />
  </div>

  <div class="img-container-triple">
    <div class="row g-3 align-items-center">
      <div class="col-6 left-img">
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058817/Taitung-sm-1_ihnym3.jpg"
          alt="Cleaup"
        />
      </div>
      <div class="col-6 right-imgs">
        <img
          class="location-img w-100 mb-3"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058819/Taitung-sm-2_wyyclr.jpg"
          alt="Aftermath"
        />
        <img
          class="location-img w-100"
          src="https://res.cloudinary.com/davlk6kty/image/upload/v1721058824/Taitung-sm-3_dbfjan.jpg"
          alt="Cleanup crew"
        />
      </div>
    </div>
  </div>
</div>
