<!-- navbar on the side -->
<div class="col-md-3 col-lg-2">
  <div class="home-title d-none d-md-block">
    <img class="img-fluid p-3" src="favicon/nature.png" alt="" />
    <h2>Henry's Room</h2>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-white ps-3">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand collapsed-title d-md-none" href="#">
        <img
          class="collapsed-img"
          src="favicon/nature.png"
          alt=""
          class="d-inline-block align-text-top"
        />
        Henry's Room
      </a>
      <button
        class="navbar-toggler border-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav flex-md-column">
          <a class="nav-link" href="#">SE Asia</a>
          <a class="nav-link" href="#">Taiwan</a>
          <a class="nav-link" href="#">Shanghai</a>
          <a class="nav-link" href="#">Beijing</a>
          <a class="nav-link" href="#">Huangshan</a>
          <a class="nav-link" href="#">Japan</a>
        </div>
      </div>
    </div>
  </nav>
</div>
