<% layout('layout/boilerplate') %>

<div class="container-about col-md-8 offset-md-1 offset-lg-1 pe-md-5">
  <h1 class="display-4 text-center mb-4">About</h1>

  <p class="about fs-5 mb-5">
    Anyone who knows me knows that I like to fantasize about being a benevolent
    dictator. About ruling over Kallipolis (Greek for "beautiful city"), the
    utopia conceived by Plato in his book, The Republic. <br />
    <br />
    Henry's Corner is the start of that utopian project - my own little corner
    of the world, where I can style html headings to my exact liking. So far,
    the population of my city is 1. But I'm always looking for new subjects-I
    mean, citizens. So I welcome you to sign up with your email, become more
    involved in my utopian project, and receive an email every few months when I
    feel like posting something new.
  </p>

  <h2 class="my-5">Upcoming plans</h2>
  <p class="upcoming fs-4">
    1. Get a print delivered, for the cost of shipping and a $5 donation to
    charity!
  </p>
  <p class="description fs-5">
    I would love to share my photos! I want to figure out how to set up an
    ordering system where you can get a print delivered. You just have to pay
    the cost of whatever the photo printing company charges, and maybe a $5
    donation to Givewell. I'll have to figure out how to set up an automated
    system to do this.
  </p>
</div>
