<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 col-lg-10 pe-md-5">
  <div class="row g-3">
    <div class="col-lg-6 mb-4">
      <img
        src="imgs/home/Rome2.JPG"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />

      <img
        src="imgs/home/Scotland1.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />

      <img
        src="imgs/home/Turkey1.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />

      <img
        src="imgs/home/Cornwall3.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />
    </div>

    <div class="col-lg-6 mb-4">
      <img
        src="imgs/home/Iceland1.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />

      <img
        src="imgs/home/Japan1.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />

      <img
        src="imgs/home/Taipei2.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />

      <img
        src="imgs/home/Lisbon4.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt=""
      />
    </div>
  </div>
</div>
