<% layout('layout/boilerplate') %>

<!-- Gallery -->
<div class="container col-md-9 col-lg-10 pe-md-5">
  <div class="row g-3">
    <div class="col-lg-6 mb-4">
      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057311/Yamanakako-sm-2_lpozsh.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Random street in Tokyo"
      />

      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057289/Yamanakako-sm-1_mgg13d.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Lake Kawaguchiko"
      />

      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057922/Rome2_vc3jtc.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Rome"
      />

      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057902/Lisbon4_kybxlw.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Trees near Sintra"
      />
    </div>

    <div class="col-lg-6 mb-4">
      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057908/Iceland1_tr8vz0.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Wedding in Iceland"
      />

      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057284/Bangkok-sm-1_sgl6mw.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Bikes in Bangkok"
      />

      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057937/Scotland1_jysjeq.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Isle of Skye"
      />

      <img
        src="https://res.cloudinary.com/davlk6kty/image/upload/v1721057298/Taipei-sm-3_shc6eq.jpg"
        class="w-100 shadow-1-strong mb-3"
        alt="Taipei"
      />
    </div>
  </div>
</div>
